---
---

@import "{{ site.theme }}";
.page-header {
	background-color: #002fa7;
	background-image: none;
}
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: #ff6f61;
}
.btn#page-btn {
	color: #002fa7;
	border-color: #002fa7;

	&:hover {
		color: rgba(255, 255, 255, 0.8);
	    text-decoration: none;
	    background-color: #002fa7;
	}
}
.main-nav {
	background-color: #f1f1f1;
}